doctype
html(ng-app="app")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        link(rel="stylesheet", href="/styles/layout.css")
        script(src="/bower_components/angular/angular.js")
        script(src="/bower_components/angular-route/angular-route.js")
        script(src="/bower_components/angular-translate/angular-translate.js")
        block header
    body
        header
        .content
            block content
        footer
            .license All icons are under free/open licenses, however the licenes vary from image to image. Some are Creative Commons, some are GPL, some are Public Domain.